{# On étend le fichier base ici, car dans base on a déclare des blocks #}
{% extends 'base.twig' %} 

{% block content %}
    <div class="text-center">
        <div>
            <h1 class="m-3">Home Page</h1>
        </div>
        <div class="d-flex flex-wrap justify-content-center"> 
            <div class="m-3">
                <img src="/formation_php/tp_fin_php/public/assets/img/challet6.jpeg" width="500" alt="challet6">
            </div>
            <div class="m-3">
                <img src="/formation_php/tp_fin_php/public/assets/img/challet2.jpeg" width="500" alt="challet2">
            </div>
            <div class="m-3">
                <img src="/formation_php/tp_fin_php/public/assets/img/challet4.jpeg" width="500" alt="challet4">
            </div>
            <div class="m-3">
                <img src="/formation_php/tp_fin_php/public/assets/img/challet7.jpeg" width="500" alt="challet7">
            </div>
            <div class="m-3">
                <img src="/formation_php/tp_fin_php/public/assets/img/challet8.jpeg" width="500" alt="challet8">
            </div>
            <div class="m-3">
                <img src="/formation_php/tp_fin_php/public/assets/img/challet9.jpeg" width="500" alt="challet9">
            </div>
        </div>
    </div>
{% endblock %}
